.optionalSectionOverlay {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.9);
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.optionalSectionWrapper {
    position: relative;
    padding: 10px;
}

.overlayBackgroundHide {
    display: none;
}

.optionaSectionShow {
	opacity: 0.3;
}

.overlayBackground {
	background: none;
}

.addSectionIcon {
	cursor: pointer;
}

.editWidgetIcon {
	cursor: pointer;
}

.removeWidgetIcon {
	cursor: pointer;
}

.removeSectionIcon {
	cursor: pointer;
}

.emptySectionArea {
	background-color: rgba(96, 96, 96, 0.2);
}

.addSectionArea {
    background-color: rgba(190, 190, 190, 0.1);
}

.servicesWidgetIcon {
    cursor: pointer;
}

.testimonialWidgetIcon {
    cursor: pointer;
}

.ctaWidgetIcon {
    cursor: pointer;
}

.countdownWidgetIcon {
    cursor: pointer;
}

.teamMembersWidgetIcon {
    cursor: pointer;
}

.blogWidgetIcon {
    cursor: pointer;
}

.portfolioWidgetIcon {
    cursor: pointer;
}

.categoriesWidgetIcon {
    cursor: pointer;
}